@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');

:root {
  --container-width: 1024px;
  --container-padding-x: 10px;

  --color-bg: #2c2c2c;
  --color-light: #ffffff;
  --color-dark: #000000;
  --color-accent: #491255;
  --color-error: #c00f2c;

  --border-2: 2px solid var(--color-dark);
  --border-4: 4px solid var(--color-dark);

  --box-shadow-3: -3px 3px 0 0 var(--color-accent);
  --box-shadow-5: -5px 5px 0 0 var(--color-accent);

  --transition-duration: 0.2s;
}

body {
  font-family: "DotGothic16";
  font-size: 1rem;
  color: var(--color-light);
  background-color: var(--color-bg);
}

.container {
  max-width: calc(var(--container-width) + 2 * var(--container-padding-x));
  padding-inline: var(--container-padding-x);
  margin-inline: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}


.button {
  color: var(--color-dark);
  height: 1.875rem;
  min-width: 1.875rem;
  border: var(--border-2);
  background-color: var(--color-light);
  box-shadow: var(--box-shadow-5);
  transition-duration: var(--transition-duration);
}

.button:hover {
  box-shadow: var(--box-shadow-3);
  translate: -1px 1px;
}

.button:active {
  background-color: var(--color-dark);
  color: var(--color-light);
}

.button:disabled {
  cursor: not-allowed;
  color: #929292;
  box-shadow: var(--box-shadow-5);
}

.button:disabled:hover {
  translate: 0 0;
}

.input {
  color: var(--color-dark);
  border: var(--border-2);
  background-color: var(--color-light);
  height: 1.875rem;
  box-shadow: var(--box-shadow-5);
  transition-duration: var(--transition-duration);
}

.input:hover {
  box-shadow: var(--box-shadow-3);
}

.input.invalid {
  box-shadow: -5px 5px 0 0 var(--color-error);
}

.input.invalid:hover {
  box-shadow: -3px 3px 0 0 var(--color-error);
}

button:focus-visible,
.input:focus-visible {
  outline: 3px solid var(--color-light);
}

.content {
  display: grid;
  justify-items: center;
  row-gap: 1rem;
  margin-block: 30px;
}

.customize-menu {
  display: none;
  position: absolute;
  top: 115px;
  background-color: var(--color-light);
  border: var(--border-4);
  box-shadow: var(--box-shadow-5);
  padding: 25px 50px;
}

.customize-menu.is-active {
  display: grid;
  row-gap: 1rem;
}

.cusmomize-menu__title {
  font-size: clamp(1rem, 3.13vw, 1.5rem);
  color: var(--color-dark);
  text-align: center;
}

.new-palette {
  display: grid;
  row-gap: 1rem;
}

.colors {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
  align-items: center;
  justify-items: center;
}

.colors__container {
  display: contents;
}

.colors__input {
  height: 1.875rem;
  cursor: pointer;
  border: var(--border-2);
}

.colors__add-button {
  width: 50px;
}

.new-palette__buttons {
  display: flex;
  column-gap: 1rem;
}

.settings {
  display: grid;
  gap: 1rem;
}

.settings__row {
  display: grid;
  row-gap: 1rem;
  color: var(--color-light);
}

.settings__row--2 {
  display: flex;
  justify-content: space-between;
  column-gap: 1rem;
}

.palette__selector {
  text-align: center;
  width: 500px;
  max-width: 500px;
}

.canvas {
  background-color: var(--color-light);
  border: var(--border-2);
  box-shadow: var(--box-shadow-5);
  margin: 0 15px 25px 15px;
}

@media (max-width: 767px) {
  .palette__selector {
    width: 82vw;
  }
}

@media (max-width: 424px) {
  body {
    font-size: 14px;
  }

  .colors {
    grid-template-columns: repeat(3, 1fr);
  }

}